<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hi_Shop_Detail_Bar</key>
	<array>
		<dict>
			<key>image</key>
			<string>business_youhui</string>
			<key>selectedImage</key>
			<string>business_youhui</string>
		</dict>
		<dict>
			<key>image</key>
			<string>business_share</string>
			<key>selectedImage</key>
			<string>business_share</string>
		</dict>
		<dict>
			<key>image</key>
			<string>business_cancel_love</string>
			<key>selectedImage</key>
			<string>business_love</string>
		</dict>
		<dict>
			<key>image</key>
			<string>business_cancel_unlove</string>
			<key>selectedImage</key>
			<string>business_unlove</string>
		</dict>
	</array>
	<key>Hi_Social_Share_Bar</key>
	<array>
		<dict>
			<key>image</key>
			<string>Group_0</string>
			<key>title</key>
			<string>美美</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Group_1</string>
			<key>title</key>
			<string>微信</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Group_2</string>
			<key>title</key>
			<string>朋友圈</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Group_2</string>
			<key>title</key>
			<string>新浪微博</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Group_2</string>
			<key>title</key>
			<string>QQ</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Group_5</string>
			<key>title</key>
			<string>复制链接</string>
		</dict>
	</array>
</dict>
</plist>
